extends layout

block content
  h1 Artists
  a(href='/artist/form/new'): h4 + Add a new artist 
  table(id='table')
    thead
      th Name
      th Nationality
      th Year of Birth
      th Year of Death
      th Options
    each artist in artists
      - var id = artist.artistid
      tr 
        td: a(href='/artist/'+id): = artist.firstName + ' ' + artist.lastName
        td #{artist.nationality}
        td #{artist.dateOfBirth}
        td #{artist.dateDeceased}
        td
          span(title='Edit'): a(href=`/artist/form/edit/${id}`) ✏
          span(title='Delete' onclick=`deleteArtist(${id})`): a(href='#') ❌ 
  
  script.
    $(document).ready( function () {
      $('#table').DataTable();
    });

 
    
    function deleteArtist(id){
      $.ajax({
        url: "/api/artist/" + id,
        method: 'DELETE'
      }).fail(function () {
        $('body').prepend('Eliminado');
      });
    }